body {
  margin: 0px auto;
  align-items: center;
  text-align: center;
  background-color: lightblue;
}

.snack-wrapper {
  max-width: 150px;
  background-color: white;
  outline: 2px solid rgb(0, 48, 0);
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
}

p {
  font-size: large;
  font-weight: 600;
}

p:hover {
  font-weight: 750;
}

a {
  text-decoration: none;
  color: navy;
}

img {
  max-width: 450px;
}

h3 {
  font-style: italic;
}

h1 {
  font-family: Pacifico;
}

.item-pic {
  max-width: 350px;
}